In [1]:
import pandas as pd
pd.__version__

'2.1.4'

pd.Series

In [8]:
s = pd.Series([3,4,5,8],index=list('abcd'), name='nazwa_obiektu')
s

a    3
b    4
c    5
d    8
Name: nazwa_obiektu, dtype: int64

In [4]:
s = pd.Series([3,4,5])
s

0    3
1    4
2    5
dtype: int64

In [16]:
#wstawianie braków danych
import numpy as np
s = pd.Series([3,4,5,np.nan],index=list('abcd'), name='nazwa_obiektu')
s

a    3.0
b    4.0
c    5.0
d    NaN
Name: nazwa_obiektu, dtype: float64

In [19]:
np.mean(s)

4.0

In [22]:
s = pd.Series(data=[True,False,True])
s

0     True
1    False
2     True
dtype: bool

In [23]:
np.mean(s)

0.6666666666666666

In [24]:
s = pd.Series(np.arange(10,20), index=pd.date_range(start='20240615',periods=10))
s

2024-06-15    10
2024-06-16    11
2024-06-17    12
2024-06-18    13
2024-06-19    14
2024-06-20    15
2024-06-21    16
2024-06-22    17
2024-06-23    18
2024-06-24    19
Freq: D, dtype: int32

In [30]:
s.index

DatetimeIndex(['2024-06-15', '2024-06-16', '2024-06-17', '2024-06-18',
               '2024-06-19', '2024-06-20', '2024-06-21', '2024-06-22',
               '2024-06-23', '2024-06-24'],
              dtype='datetime64[ns]', freq='D')

In [31]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [33]:
s.dtypes

dtype('int32')

In [34]:
s.shape

(10,)

In [38]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900})
price

Apple          200
CD Projekt      60
Amazon        1900
dtype: int64

In [39]:
#wycinanie danych z Series
price['Amazon']

1900

In [68]:
#wyszukiwanie po wartościach
price[price.values == 60]

CD Projekt    60
dtype: int64

In [40]:
price[1]

C:\Users\rober\AppData\Local\Temp\ipykernel_20800\4074423798.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  price[1]

60

In [56]:
price.count()

3

In [58]:
#rozklad danych
price.value_counts()

200     1
60      1
1900    1
Name: count, dtype: int64

In [59]:
price.sum()

2160

In [60]:
price.min()

60

In [61]:
price.max()

1900

In [62]:
price.std()

1024.3046421841502

In [63]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [69]:
#wybór top 3
price.nlargest(3)

Amazon        1900
Apple          200
CD Projekt      60
dtype: int64

In [70]:
#wybór najgorszych 2
price.nsmallest(2)

CD Projekt     60
Apple         200
dtype: int64

In [71]:
#ranking
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
dtype: float64

In [73]:
#sortowanie wartości
price.sort_values() #ascending = False sortowanie od najwyzszej do najnizszej

CD Projekt      60
Apple          200
Amazon        1900
dtype: int64

In [74]:
#przyklad przemnozenia wartosci przez dana wartosc
price.apply(lambda x: x * 4.3)

Apple          860.0
CD Projekt     258.0
Amazon        8170.0
dtype: float64

pd.DataFrame

In [75]:
df = pd.DataFrame(data=[12,12,32])
df

    0
0  12
1  12
2  32

In [76]:
df = pd.DataFrame(data=[12,12,32],index=['first','second','third'],columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [81]:
df = pd.DataFrame(data={'WIG20':['PKN ORLEN','PKO BP'],
                        'mWIG40':['Amica','play']})
df

       WIG20 mWIG40
0  PKN ORLEN  Amica
1     PKO BP   play

In [82]:
#wycinanie nazw kolumn
df.columns

Index(['WIG20', 'mWIG40'], dtype='object')

In [83]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [84]:
df.values

array([['PKN ORLEN', 'Amica'],
       ['PKO BP', 'play']], dtype=object)

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WIG20   2 non-null      object
 1   mWIG40  2 non-null      object
dtypes: object(2)
memory usage: 164.0+ bytes

In [93]:
df.describe()

            WIG20 mWIG40
count           2      2
unique          2      2
top     PKN ORLEN  Amica
freq            1      1

In [101]:
#selekcja kolumn
df = pd.DataFrame(data=[(10,12,13),(3,12,10)],index=('first','second'),columns=('col_1','col_2','col_3'))
df

        col_1  col_2  col_3
first      10     12     13
second      3     12     10

In [102]:
df['col_1']

first     10
second     3
Name: col_1, dtype: int64

In [103]:
type(df['col_1'])

pandas.core.series.Series

In [104]:
df[['col_1']]

        col_1
first      10
second      3

In [105]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [107]:
#zmiana nazwy kolumn
df.columns = ['a','b','x']
df

         a   b   x
first   10  12  13
second   3  12  10

In [108]:
df.a

first     10
second     3
Name: a, dtype: int64

In [109]:
df['d'] = df.a + df.x
df

         a   b   x   d
first   10  12  13  23
second   3  12  10  13

In [110]:
df['a'] * 3

first     30
second     9
Name: a, dtype: int64

In [111]:
#wycinanie po wierszach po nazwach
df.loc['first']

a    10
b    12
x    13
d    23
Name: first, dtype: int64

In [113]:
#wycinanie po wierszach po numerach indexow
df.iloc[0]

a    10
b    12
x    13
d    23
Name: first, dtype: int64

In [114]:
df.loc['first','b']

12

In [115]:
df.loc[:,'b']

first     12
second    12
Name: b, dtype: int64

In [117]:
df.iloc[:,1]

first     12
second    12
Name: b, dtype: int64

In [120]:
df.iloc[1,2:]

x    10
d    13
Name: second, dtype: int64