In [2]:
import pandas as pd

In [3]:
cities=['London','Berlin','Warsaw','Paris']

In [4]:
pd.Series(cities)

0    London
1    Berlin
2    Warsaw
3     Paris
dtype: object

In [7]:
primeNumbers=[2,3,5,7,11,13,17,19]
primeNumbers

[2, 3, 5, 7, 11, 13, 17, 19]

In [6]:
pd.Series(primeNumbers)

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
dtype: int64

In [9]:
logicalValues=[True,True,False,False]
pd.Series(logicalValues)

0     True
1     True
2    False
3    False
dtype: bool

In [12]:
SpielberFilmography = {
  "Jaws": 1975,
  "1941": 1979,
  "Indiana Jones and the Riders of the Lost Ark": 1981,
  "E.T. the Extra-Terrestrial": 1982
}

In [14]:
pd.Series(SpielberFilmography)

Jaws                                            1975
1941                                            1979
Indiana Jones and the Riders of the Lost Ark    1981
E.T. the Extra-Terrestrial                      1982
dtype: int64