In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [27]:
numbers = [1,2,5,11,14,23]

In [28]:
numSeries = pd.Series(numbers)

In [8]:
numSeries > 10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [9]:
numSeries.where(numSeries > 10)

0     NaN
1     NaN
2     NaN
3    11.0
4    14.0
5    23.0
dtype: float64

In [15]:
numSeries.where(numSeries > 10, other=-1)

0    -1
1    -1
2    -1
3    11
4    14
5    23
dtype: int64

In [19]:
numSeries.where(numSeries > 10).dropna()

3    11.0
4    14.0
5    23.0
dtype: float64

In [25]:
numSeries.where(numSeries > 10, inplace=True)
numSeries.dropna(inplace=True)
numSeries

3    11.0
4    14.0
5    23.0
dtype: float64

In [26]:
numSeries

3    11.0
4    14.0
5    23.0
dtype: float64

In [29]:
numSeries.filter(items=[0,2,4])

0     1
2     5
4    14
dtype: int64

S02-L006 - LAB - Filtrowanie Data Series

In [30]:
ix = ["do 6", "7-14", "15-17", "18-24", "25-39", "40-59", "60 i więcej"]
val = [14 ,334,312,5823,9491,7486,4343]
incidents = pd.Series(data = val, index=ix)
incidents

do 6             14
7-14            334
15-17           312
18-24          5823
25-39          9491
40-59          7486
60 i więcej    4343
dtype: int64

In [33]:
incidents.where(incidents > 1000)

do 6              NaN
7-14              NaN
15-17             NaN
18-24          5823.0
25-39          9491.0
40-59          7486.0
60 i więcej    4343.0
dtype: float64

In [35]:
incidents1000 = incidents.where(incidents > 1000).dropna()
incidents1000

18-24          5823.0
25-39          9491.0
40-59          7486.0
60 i więcej    4343.0
dtype: float64

In [36]:
incidents.filter(items=['18-24','25-39','40-59'])

18-24    5823
25-39    9491
40-59    7486
dtype: int64

In [40]:
incidents.where(incidents <= 1000, inplace = True)
incidents.dropna(inplace=True)
incidents

do 6      14.0
7-14     334.0
15-17    312.0
dtype: float64