In [1]:
import pandas as pd

In [2]:
numbers = [1,2,3,11,12,13]
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [3]:
numSeries > 10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [4]:
numbersGreater10 = numSeries > 10

In [5]:
numbersOdd = numSeries % 2 ==1

In [6]:
numSeries.where(numbersGreater10 & numbersOdd).dropna()

3    11.0
5    13.0
dtype: float64

S02-L007 - LAS02-L007B - Bardziej zaawansowane
filtrowanie

In [7]:
namesList = ['Albania','Austria','Belarus',
'Belgium','Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia',
'Finland','France','Germany','Greece','Hungary','Iceland','Ireland','Italy',
'Latvia','Lithuania','Luxembourg','Macedonia','Malta','Montenegro','Netherlands',
'Norway','Poland','Portugal','Romania','Russia','Serbia','Slovenia','Spain', 'Sweden','Switzerland',
'United Kingdom','Turkey','Ukraine']

In [8]:
energy2010List = [1947,8347,3564,8369,4560,3814,4623,6348,6328,6506,16483,7736,7264,5318,3876,
51440,5911,5494,3230,3471,16830,3521,4171,5420,7010,24891,3797,4959,2551,
6410,4359,6521,5707,14934,8175,2498,3550,5701]

In [9]:
energy2012List = [2118,8507,3698,7987,4762,3819,4057,6305,6039,6689,15687,7344,7270,5511,3919,
53203,5665,5398,3588,3608,14696,3626,4761,5416,6871,23658,3899,4736,2604,
6617,4387,6778,5573,14290,7886,2794,3641,5452]

In [10]:
namesSeries = pd.Series(namesList)
energy2010Series = pd.Series(energy2010List)
energy2012Series = pd.Series(energy2012List)

In [11]:
namesSeries
energy2010Series
energy2012Series

0      2118
1      8507
2      3698
3      7987
4      4762
5      3819
6      4057
7      6305
8      6039
9      6689
10    15687
11     7344
12     7270
13     5511
14     3919
15    53203
16     5665
17     5398
18     3588
19     3608
20    14696
21     3626
22     4761
23     5416
24     6871
25    23658
26     3899
27     4736
28     2604
29     6617
30     4387
31     6778
32     5573
33    14290
34     7886
35     2794
36     3641
37     5452
dtype: int64

In [14]:
mean2010 = energy2010Series.mean()
mean2010

np.float64(7779.8421052631575)

In [19]:
mean2012 = energy2012Series.mean()
mean2012

np.float64(7706.815789473684)

In [23]:
filterAboveMean2010 = energy2010Series > mean2010

In [24]:
filterAboveMean2012 = energy2012Series > mean2012

In [26]:
namesSeries.where(filterAboveMean2010 & filterAboveMean2012).dropna()

1         Austria
3         Belgium
10        Finland
15        Iceland
20     Luxembourg
25         Norway
33         Sweden
34    Switzerland
dtype: object

In [27]:
filterBelowMean2010 = energy2010Series < mean2010
namesSeries.where(filterBelowMean2010 & filterAboveMean2012).dropna()

Series([], dtype: object)