In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
monotonicList=(1,2,4,67,99)
monotonicSeries=pd.Series(monotonicList)
monotonicSeries

0     1
1     2
2     4
3    67
4    99
dtype: int64

In [4]:
monotonicSeries.sum()

np.int64(173)

In [5]:
monotonicSeries.min()

np.int64(1)

In [6]:
monotonicSeries.max()

np.int64(99)

In [7]:
monotonicSeries.mean()

np.float64(34.6)

In [8]:
monotonicSeries.count()

np.int64(5)

In [9]:
monotonicSeries.product() #mnożenie przez siebie

np.int64(53064)

In [14]:
#metoda = atrybut 
monotonicSeries.index
monotonicSeries.keys()

RangeIndex(start=0, stop=5, step=1)

In [20]:
monotonicSeries.tolist()

[1, 2, 4, 67, 99]

In [21]:
monotonicSeries.add(10)

0     11
1     12
2     14
3     77
4    109
dtype: int64

In [23]:
waluta = ['USD','EUR','PLN','EUR','EUR']
kraj = ['USA','Hiszpania','Polska','Portugalia','Włochy']

In [25]:
curSeries = pd.Series(data=kraj,index=waluta)
curSeries

USD           USA
EUR     Hiszpania
PLN        Polska
EUR    Portugalia
EUR        Włochy
dtype: object

S02-L005 - LAB - Metody Data Series

In [2]:
cities=['Shanghai','Beijing','Istanbul']
population=(24183300, 20794100, 15030000)

In [5]:
citypop = pd.Series(population,cities)
citypop

Shanghai    24183300
Beijing     20794100
Istanbul    15030000
dtype: int64

In [6]:
citypop = pd.Series(data=population,index=cities)

In [8]:
citypop.sum()

np.int64(60007400)

In [9]:
citypop.mean()

np.float64(20002466.666666668)

In [10]:
citypop.index

Index(['Shanghai', 'Beijing', 'Istanbul'], dtype='object')

In [11]:
citypop.keys()

Index(['Shanghai', 'Beijing', 'Istanbul'], dtype='object')

In [13]:
citypop.values

array([24183300, 20794100, 15030000])