In [1]:
import pandas as pd

In [2]:
pok = pd.read_csv('C:/Users/4800228/udemy/analiza_danych_w_python_i_pandas/course-files/pokemon.csv',usecols=['Name']).squeeze()

In [4]:
pok.head(5)

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [6]:
pok.sort_values().head()

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
Name: Name, dtype: object

In [11]:
pok.sort_values(ascending=False).head()

794    Zygarde50% Forme
695            Zweilous
46                Zubat
631               Zorua
632             Zoroark
Name: Name, dtype: object

In [16]:
pok = pok.copy()
pok.sort_values(inplace=True)

In [17]:
pok.head()

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
Name: Name, dtype: object

In [21]:
pok.sort_index(ascending=False,inplace=True)
pok.head()

799              Volcanion
798     HoopaHoopa Unbound
797    HoopaHoopa Confined
796    DiancieMega Diancie
795                Diancie
Name: Name, dtype: object

LAB - S02-L010 - Sortowanie danych data
series

In [22]:
salary = pd.read_csv('C:/Users/4800228/udemy/analiza_danych_w_python_i_pandas/course-files/StackOverflowDeveloperSurvey.csv',usecols=['Salary']).squeeze().dropna()
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [24]:
salary.sort_values(ascending=False).head()

31600    197000.0
6743     195000.0
41398    195000.0
18237    195000.0
1696     195000.0
Name: Salary, dtype: float64

In [25]:
salary.sort_values().head()

4517     0.0
23953    0.0
23907    0.0
2951     0.0
44841    0.0
Name: Salary, dtype: float64

In [29]:
salary.sort_values(ascending=False,inplace=True)

In [30]:
salary.head()

31600    197000.0
1696     195000.0
6743     195000.0
27943    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [31]:
salary.sort_index(ascending=False)

51390     40000.000000
51387     58000.000000
51382     32258.064516
51378    107526.881720
51371     74193.548387
             ...
22       100764.000000
18        82500.000000
17       130000.000000
14       100000.000000
2        113750.000000
Name: Salary, Length: 12891, dtype: float64

In [41]:
maxSalaries = salary.sort_values(ascending=False).head(100)

In [42]:
minSalaries = salary.sort_values().head(100)

In [43]:
maxSalaries.mean()

np.float64(180198.1045586777)

In [44]:
minSalaries.mean()

np.float64(67.08388907133794)