In [2]:
import pandas as pd

In [18]:
pok = pd.read_csv('C:/Users/4800228/udemy/analiza_danych_w_python_i_pandas/course-files/pokemon.csv',usecols=['Name']).squeeze()
pok

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [19]:
type(pok)

pandas.core.series.Series

In [20]:
len(pok)

800

In [22]:
sorted(pok.head(5))

['Bulbasaur', 'Charmander', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur']

In [23]:
type(sorted(pok.head()))

list

In [24]:
list(pok.head())

['Bulbasaur', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur', 'Charmander']

In [25]:
dict(pok.head())

{0: 'Bulbasaur',
 1: 'Ivysaur',
 2: 'Venusaur',
 3: 'VenusaurMega Venusaur',
 4: 'Charmander'}

In [26]:
min(pok)

'Abomasnow'

In [27]:
max(pok)

'Zygarde50% Forme'

In [29]:
pok.name = 'Name of pokemon'

In [30]:
pok.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name of pokemon, dtype: object

In [31]:
speed = pd.read_csv('C:/Users/4800228/udemy/analiza_danych_w_python_i_pandas/course-files/pokemon.csv',usecols=['Speed']).squeeze()

In [32]:
speed.head()

0    45
1    60
2    80
3    80
4    65
Name: Speed, dtype: int64

In [33]:
speed.name = 'Speed of Pokemon'

In [34]:
speed.head()

0    45
1    60
2    80
3    80
4    65
Name: Speed of Pokemon, dtype: int64

LAB - S02-L009 - Standardowe metody
Pythona a obiekty PANDAS

In [37]:
salary = pd.read_csv('C:/Users/4800228/udemy/analiza_danych_w_python_i_pandas/course-files/StackOverflowDeveloperSurvey.csv',usecols=['Salary']).squeeze().dropna()
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [38]:
len(salary)

12891

In [39]:
min(salary)

0.0

In [40]:
max(salary)

197000.0

In [41]:
list(salary.head())

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

In [42]:
dict(salary.head())

{2: np.float64(113750.0),
 14: np.float64(100000.0),
 17: np.float64(130000.0),
 18: np.float64(82500.0),
 22: np.float64(100764.0)}

In [51]:
listSalarySorted = sorted(list(salary),reverse=True)
listSalarySorted[:5]

[197000.0, 195000.0, 195000.0, 195000.0, 195000.0]

In [66]:
listSalarySorted[-5:]

[0.0, 0.0, 0.0, 0.0, 0.0]

In [52]:
salary.name='Salary of a person'

In [55]:
salary[5:]

25       175000.000000
34        14838.709677
36        28200.000000
37       118279.569892
52        15674.203822
             ...
51371     74193.548387
51378    107526.881720
51382     32258.064516
51387     58000.000000
51390     40000.000000
Name: Salary of a person, Length: 12886, dtype: float64